html
 head
  title Form Tester
 body  
  form(action = "/clearPug", method = "POST")
   div
    label Clear Template before new creation:
    button(type = "submit")  CLEAR
   br
   div
    label Clear CSS Stylesheet before new creation:
    button(type = "submit" formaction="/clearCss" formmethod="POST")  CLEAR
  form(action = "/render_page", method = "POST")
   div
    label(for = "tag") Enter Tag:
    input(name = "tag" value = "")
   br
   div
    label(for = "value") Enter Tag Value:
    input(name = "value" value = "")
   br
   div
    label(for = "class") Enter Class Value:
    input(name = "class" value = "")
   br
   div
    label(for = "style") Enter Comma Separated Styles:
    input(name = "style" value = "")
   br
   button(type = "submit" formaction="/" formmethod="POST") NEXT  
   button(type = "submit") SUBMIT
  div
   pre #{output}